@{
    Layout = "_Layout";
}
<img src="~/images/become-a-pro-banner.png" class="container-fluid p-0 img-fluid" id="become-page-banner">
<div class="container pt-5">
    <div class="row pt-5 justify-content-center">
                    <div class="col-4 pt-5">
            <div id="registration-form">
                        <h2 class="heading-dark text-center pt-3">Register Now!</h2>
                <form action="?" method="POST">
                    <div class="input-group p-2">
                        <input type="text" class="form-control" placeholder="First name" aria-label="Firstname"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group p-2">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Lastname"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group p-2">
                        <input type="text" class="form-control" placeholder="Email Address" aria-label="email"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group p-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">+49</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mobile number" aria-label="Mobile_no"
                            aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group p-2">
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group p-2">
                        <input type="text" class="form-control" placeholder="Confirm Password"
                            aria-label="ConfirmPassword" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group p-2">
                        <p class="para-dark"><input type="checkbox" aria-label="Checkbox for following text input">Send
                            me
                            newsletters from Helperland <br>
                            <input type="checkbox" aria-label="Checkbox for following text input">I accept
                            <span class="text-primary">terms and conditions</span> & <span class="text-primary"> privacy
                                policy</span>
                        </p>
                    </div>
                    <div id="html_element"></div>
                    <br />
                    <div class="text-center pb-3">
                        <a class="btn  text-white" id="get-started-btn">Get Started
                            <img src="~/images/arrow-white.png" class="px-1"></a>
                    </div>
                    </form>
                
                </div>
            </div>
                    </div>
                
                </div>
            <div class="down-arrow text-center pt-5">
                <a href="#footer"><img src="~/images/group-18_5.png" alt="" srcset=""></a>
            </div>
        <div class="container mt-5" id="how-container">
            <div class="row mb-5">
                <h2 class="text-center heading-dark">How it works</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="row">
                <div class="col-lg-6 text-center mt-5">
                    <h4 class="heading-dark">Register yourself</h4>
                    <p class="para-dark">Provide your basic information to register <br> yourself as a service provider.
                    </p>
                    <a href="#" class="read-more-link">Read More<img src="~/images/shape-2.png" alt="" srcset=""></a>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="~/images/group-28.png" class="how-img">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="~/images/group-29.png" class="how-img">
                </div>
                <div class="col-lg-6 text-center  mt-5">
                    <h4 class="heading-dark">Get service requests</h4>
                    <p class="para-dark">You will get service requests from <br> customes depend on service area and
                        profile.
                    </p>
                    <a href="#" class="read-more-link">Read More<img src="~/images/shape-2.png" alt="" srcset=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center  mt-5">
                    <h4 class="heading-dark">Complete service</h4>
                    <p class="para-dark">Accept service requests from your customers <br> and complete your work.
                    </p>
                    <a href="#" class="read-more-link">Read More<img src="~/images/shape-2.png" alt="" srcset=""></a>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="~/images/group-30.png" class="how-img">
                </div>
            </div>
                </div>
            </div>
            
        </div>
    <div class="container newsletter my-5">
        <div class="row">
            <div class="col text-center">
                <h5>GET OUR NEWSLETTER</h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <input type="text" id="input" placeholder="YOUR EMAIL">
                <button type="button" class="btn text-white" id="submit">Submit</button>
            </div>
        </div>
    </div>
