@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_2";
}
<img class="container-fluid" id="price-page-img" src="~/images/group-16_2.png">
    <div class="container mt-3" id="price">
        <div class="row">
            <h2 class="heading-dark text-center">Contact Us</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="para-dark">
                <hr style="height:1px;width: 62px;border-width:0;color:gray;background-color:gray">
                <img src="~/images/forma-1-copy-5.png" style="    height: 24px;margin: 4.5px;">
                <hr style="height:1px;width: 62px;border-width:0;color:gray;background-color:gray">
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 text-center">
                <img src="~/images/forma-1_2.png">
                <p class="para-dark mt-3">1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="~/images/phone-call.png">
                <p class="para-dark mt-3">+49 (40) 123 56 7890 <br>+49 (40) 987 56 0000</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="~/images/vector-smart-object.png">
                <p class="para-dark mt-3">info@helperland.com</p>
            </div>
        </div>
    </div>
    <div class="container border-top border-2 mt-5 text-center">
        <div class="row my-5">
            <h2 class="heading-dark text-center">Get in touch with us</h2>
        </div>
        <div class="row mx-5 justify-content-center">
            <div class="col-md-6">
                <div class="input-group row mb-3">
                <input type="text" class="form-control col-sm m-2" placeholder="First name" aria-label="Firstname"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control col-sm m-2" placeholder="Last name" aria-label="Lastname"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group row mb-3">
                <div class="col-sm p-0 m-2 d-flex">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">+49</span>
                    </div>
                <input type="text" class="form-control" placeholder="Mobile number" aria-label="Mobile_no"
                    aria-describedby="basic-addon3">
                </div>
                <input type="text" class="form-control col-sm m-2" placeholder="Email address" aria-label="email"
                    aria-describedby="basic-addon4">
            </div>
            <div class="input-group row mb-3">
                <input type="text" class="form-control m-2" placeholder="Subject" aria-label="Subject"
                    aria-describedby="basic-addon5">
            </div>
            <div class="input-group row mb-3">
                <input type="text" class="form-control m-2" height="146" placeholder="Message" aria-label="Message"
                    aria-describedby="basic-addon6">
            </div>
        
        <input class="btn btn-primary rounded-pill" id="submit-contact" type="submit" value="Submit">
    </div>
            </div>
            </div>
    <img src="~/images/group-16.png" id="map" class="mt-5">
    <div class="container newsletter mt-5">
        <div class="row">
            <div class="col text-center">
                <h5>GET OUR NEWSLETTER</h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <input type="text" id="input" placeholder="YOUR EMAIL">
                <button type="button" class="btn text-white" id="submit">Submit</button>
            </div>
        </div>
    </div>
