@{
    Layout = "_Layout_2";
}
<img class="container-fluid" id="price-page-img" src="~/images/group-18.png">
    <div class="container mt-3" id="price">
        <div class="row">
            <h2 class="heading-dark text-center">Prices</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="para-dark">
                <hr style="height:1px;width: 62px;border-width:0;color:gray;background-color:gray">
                <img src="~/images/forma-1-copy-5.png" style="    height: 24px;margin: 4.5px;">
                <hr style="height:1px;width: 62px;border-width:0;color:gray;background-color:gray">
            </p>
        </div>
        <div class="container mt-5" id="One-time-conatiner">
            <div class="row justify-content-center">
                <div class="col-6 border p-0">
                    <h3 id="One_time" class="text-white">One Time</h3>
            
            <div class="heading-dark">
                <h1>€ 20<span class="fs-4">/hr</span></h1>
            </div>
            <div id="price_list">
                <ul>
                    <li class="mt-2">Lower prices</li>
                    <li class="mt-2">Easy online & secure payment</li>
                    <li class="mt-2">Easy amendment</li>
                </ul>
            </div>
                </div>
            </div>
        </div>
        <div class="container  mt-5" id="extra-services-container">
            <div class="row mt-5">
                <h2 class="heading-dark text-center">Extra services</h2>
            </div>
            <div class="d-flex justify-content-center">
                <p class="para-dark">
                    <hr style="height:2px;width:62px;border-width:0;color:gray;background-color:gray">
                    <img src="~/images/forma-1-copy-5.png" style="height:24px;margin:4.5px;">
                    <hr style="height: 2px;width:62px;border-width:0;color:gray;background-color:gray">
                </p>
            </div>
            <div class="row justify-content-evenly mt-5">
                <div class="col-lg-2 extra-services-lists">
                    <img class="extra-services-lists-img" src="~/images/3.png">
                    <p class="para-dark mt-2">Inside cabinets <br> <span class="min-30"> 30
                            minutes</span></p>
                </div>

                <div class="col-lg-2 extra-services-lists ">
                    <img class="extra-services-lists-img" src="~/images/5.png">
                    <p class="para-dark mt-2">Inside fridge <br> <span class="min-30"> 30 minutes</span></p>
                </div>

                <div class="col-lg-2 extra-services-lists ">
                    <img class="extra-services-lists-img" src="~/images/4.png">
                    <p class="para-dark mt-2">Inside oven <br> <span class="min-30"> 30 minutes</span></p>
                </div>

                <div class="col-lg-2 extra-services-lists ">
                    <img class="extra-services-lists-img" src="~/images/2.png">
                    <p class="para-dark mt-2">Laundry wash & dry <br> <span class="min-30"> 30 minutes</span></p>
                </div>

                <div class="col-lg-2 extra-services-lists ">
                    <img class="extra-services-lists-img" src="~/images/1.png">
                    <p class="para-dark mt-2">Interior windows <br> <span class="min-30"> 30 minutes</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5" id="include-section">
        <h2 class="text-center pt-5 heading-dark">What we include in cleaning</h2>
        <div class="d-flex justify-content-center">
            <p class="para-dark">
                <hr style="height:2px;width:62px;border-width:0;color:gray;background-color:gray">
                <img src="~/images/forma-1-copy-5.png" style="height:24px;margin:4.5px;">
                <hr style="height: 2px;width:62px;border-width:0;color:gray;background-color:gray">
            </p>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4" id="include-services">
                    <img src="~/images/group-18_3.png">
                    <p class="para-dark fs-5 mt-3 fw-bold">
                        Bedroom and Living Room
                    </p>
                    <ul class="para-dark">
                        <li>Dust all accessible surfaces</li>
                        <li>Wipe down all mirrors and glass fixtures</li>
                        <li>Clean all floor surfaces</li>
                        <li>Take out garbage and recycling</li>
                    </ul>
                </div>
                <div class="col-lg-4" id="include-services">
                    <img src="~/images/group-18_4.png">
                    <p class="para-dark fs-5 mt-3 fw-bold">
                        Bathrooms
                    </p>
                    <ul class="para-dark">
                        <li>Wash and sanitize the toilet, shower, tub, sink</li>
                        <li>Dust all accessible surfaces</li>
                        <li>Wipe down all mirrors and glass fixtures</li>
                        <li>Clean all floor surfaces</li>
                        <li>Take out garbage and recycling</li>
                    </ul>
                </div>
                <div class="col-lg-4" id="include-services">
                    <img src="~/images/group-18_2.png">
                    <p class="para-dark fs-5 mt-3 fw-bold">
                        Kitchen
                    </p>
                    <ul class="para-dark">
                        <li>Dust all accessible surfaces</li>
                        <li>Empty sink and load up dishwasher</li>
                        <li>Wipe down all mirrors and glass fixtures</li>
                        <li>Clean all floor surfaces</li>
                        <li>Take out garbage and recycling</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <h2 class="heading-dark text-center">Why Helperland</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="para-dark">
                <hr style="height:2px;width:62px;border-width:0;color:gray;background-color:gray">
                <img src="~/images/forma-1-copy-5.png" style="height:24px;margin:4.5px;">
                <hr style="height: 2px;width:62px;border-width:0;color:gray;background-color:gray">
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4" id="right-text">
                <p class="para-dark fs-7 mt-3 fw-bold text-right">Experienced and vetted professionals</p>
                <p class="text-right">dominate the industry in scale and scope with an adaptable, extensive network that
                    consistently delivers exceptional results.
                </p>
                <p class="para-dark fs-7 mt-3 fw-bold text-right">Dedicated customer service</p>
                <p>to our customers and are guided in all we do by their needs. The team is always happy to support you
                    and offer all the information. you need.
                </p>
            </div>
            <div class="col-sm-4 mt-3 text-center">
                <img src="~/images/the-best-img-1.png">
            </div>
            <div class="col-sm-4">
                <p class="para-dark fs-7 mt-3 fw-bold text-right">Every cleaning is insured</p>
                <p class="text-right">and seek to provide exceptional service and engage in proactive behavior. We‘d be
                    happy to clean your homes.
                </p>
                <p class="para-dark fs-7 mt-3 fw-bold text-right">Secure online payment</p>
                <p>Payment is processed securely online. Customers pay safely online and manage the booking.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid newsletter mt-5">
        <div class="row">
            <a id="forma" class="btn text-center" href="#header"><img src="~/images/forma-1.png" alt="" srcset=""></a>
            <div class="col text-center">
                <h5>GET OUR NEWSLETTER</h5>
            </div>
            <img src="~/images/layer-598.png" id="layer-598" alt="" srcset="">
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="text" id="input" placeholder="YOUR EMAIL">
                <button type="button" class="btn text-white" id="submit">Submit</button>
            </div>
        </div>
    </div>